.idea/
node_modules/
.vscode/
*.map
.DS_Store
.sourcemaps
dist/

resources/ios/**/*
resources/android/**/*
/.vs/capacitor-appflow/CopilotIndices/17.12.53.23981
/.vs/capacitor-appflow/FileContentIndex
/.vs
